---
---

@import 
	"slides/typography",
	"slides/palette"
;

* {
	box-sizing: border-box;
}
.slide {
	
}
html {
	//font-size: 3ems;
	overflow: hidden;
}
body {
	background: $color5;
	
}

.page-content {
	color: $color1;
	padding-top: 0;
}
.wrapper {
	padding: 0;
	max-width: none;
}


.slide-header {
	@include font-bangers();
	font-size: 3vw;
	transform: rotate(-2deg);
	margin: -5vh -2vw 0;
	padding: 8vh 10vw 0;
	color: $color5;
	position: absolute;
	top: 0;
	left: 0;
	width: 110vw;
	background: $color2;

	border-bottom: solid 10px $color1;

	.slide-title {
		margin-bottom: -0.43em;
	}
}


.slide-content {
	padding: 28vh 8vw 10vh;
	height: 100vh;

	text-align: center;
	font-size: 8vh;

	display: flex;
	justify-content: center;
	flex-direction: column;

	&.no-header {
		padding-top: 10vh;
	}


	.reveal & > *,
	.reveal-auto & > *  {
		opacity: 0;
		transition: all 0.5s ease-in-out;
	}

	&.image {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	.highlight {
		background: $color4;
		text-align: left;
		pre {
			margin-bottom: 0;
		}
		pre, code {
			background: $color4;
		}
	}
}

h1 { font-size: 2em; }
h2 { font-size: 1.6em; }

.youtube {
	width: 100vw;
	height: 100vh;
	padding: 5vh 5vw;

	iframe {
		width: 90vw;
		height: 90vh;

		&.with-header {
			height: 70vh;
			margin-top: 20vh;
		}
	}
}


@import 
	"slides/chapter"
;