/* Coolors Exported Palette - coolors.co/fcfcfc-d2f898-f6f930-2f2f2f-000000 */

$color1: #fcfcfc; //rgba(252, 252, 252, 100)
$color2: #d2f898; //rgba(210, 248, 152, 100)
$color3: #f6f930; //rgba(246, 249, 48, 100)
$color4: #2f2f2f; //rgba(47, 47, 47, 100)
$color5: #000000; //rgba(0, 0, 0, 100)