---
layout: slide-master
---

<div class="slide {{ page.type }}">

  {% if page.title %}
    <header class="slide-header">
      <h1 class="slide-title">{{ page.title }}</h1>
    </header>
	<article class="slide-content image" style="background-image: url({{ page.image | site.base_path }})">
	  {{ content }}
	</article>
  {% else %}
	  <article class="slide-content image no-header" style="background-image: url({{ page.image | site.base_path }})">
	    {{ content }}
	  </article>
  {% endif %}


</div>