body {

}

.wrapper {
    max-width: none;
    padding: 0;
}

$gutter: 0.5vw;
$spot-height: 26vw;
$spot-fontsize: 2vw;


.deck {
    background: #fff;

    display: flex;

}

.spot {
    font-size: $spot-fontsize;
    padding: 2vw 30vw 2vw 2vw;

    background: rgba(0,0,0,0.1);

    flex: 1;
    margin: $gutter;

    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }

    &:nth-child(odd) {
        background: rgba(0,0,0,0.2);
    }

    height: $spot-height;

    &.beo-play {
        background: #f1cdd1 url(/assets/img/decks/dude.jpg) no-repeat right center;
        background-size: auto 100%;
    }
    &.lakrids {
        background: #000 url(/assets/img/decks/lakrids.jpg) no-repeat right center;
        background-size: auto 90%;
        color: #fff;
    }

}

@media screen and (max-width: 600px) {
    .deck {
        display: block;
    }
    .spot {
        width: 36vw;
        margin: 2*$gutter 0;
        height: 2*$spot-height;
        font-size: 2*$spot-fontsize;
        padding: 4vw 60vw 4vw 4vw;
    }

}
