body {
    background: #ebe8e3;
    overflow-x: hidden;
}

.wrapper {
    max-width: none;
    padding: 0;
}

$gutter: 0.5vw;
$spot-height: 26vw;
$spot-fontsize: 2vw;

.intro {
    position: relative;
    width: 100%;
    //height: 100%;
    overflow: hidden;

    .video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: -1;

        //object-fit: cover;

        video {
            position: fixed;
            top: 0;
            height: 100%;
            width: 100vw;
            object-fit: cover;
        }
    }
    .content {
        width: 60vw;
        margin: 20vw auto;

        font-size: $spot-fontsize;
        color: #fff;

    }
}

@media screen and (max-width: 840px) {
    .intro {
        .content {
            //font-size: 2*$spot-fontsize;
        }
    }
}

.deck {
    display: flex;
}

.spot {
    font-size: $spot-fontsize;

    .content {
        padding: 2vw 30vw 2vw 2vw;
    }

    background: rgba(0,0,0,0.1);

    flex: 1;
    margin: $gutter;

    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }

    &:nth-child(odd) {
        background: rgba(0,0,0,0.2);
    }

    height: $spot-height;

    &.beo-play {
        background: #f1cdd1 url(/assets/img/decks/dude.jpg) no-repeat right center;
        background-size: auto 100%;
    }
    &.lakrids {
        background: #000 url(/assets/img/decks/lakrids.jpg) no-repeat right center;
        background-size: auto 90%;
        color: #fff;
    }
    &.whisky {
        background: #000 url(/assets/img/decks/whisky2.jpg) no-repeat right center;
        background-size: auto 100%;
        color: #fff;
    }

    &.products {
        background: transparent;
    }

    .product {
        background: #ddd;
        width: calc(33% - #{$gutter}*1.01);
        float: left;
        height: 100%;
        margin: 0 $gutter;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }

    }
}

@media screen and (max-width: 840px) {
    .deck {
        display: block;
    }
    .spot {
        //width: 36vw;
        margin: 4*$gutter 0;
        height: 2*$spot-height;
        font-size: 2*$spot-fontsize;
        .content {
            padding: 4vw 60vw 4vw 4vw;
        }
        .product {
            margin: 0 2*$gutter;
            width: calc(33% - #{$gutter}*2.05);
        }
    }
}

$product-img-width: 15vw;
$product-img-height: 15vw;
$product-font-size: 1.6vw;
$product-line-height: 1.6vw;

.product {
    display: flex;
    flex-direction: column;
    font-size: $product-font-size;
    line-height: $product-line-height;
    .image {
        flex: 2;
        background: #fff;
        img {
            object-fit: contain;
            width: $product-img-width;
            height: $product-img-height;
            margin: $gutter;
        }
    }
    .details {
        flex: 1;
        background: #fff;
        padding: 0 $gutter $gutter;

    }
    strong, p {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 840px) {
    .product {
        font-size: 2*$product-font-size;
        line-height: 2*$product-line-height;
        .image {
            img {
                width: 2*$product-img-width;
                height: 2*$product-img-height;
            }
        }
        .details {
            padding: 0 2*$gutter 2*$gutter;
        }
    }
}
